.topnav {
  background-color: transparent;
  margin-top: 50px;
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.topnav a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 200em;
  position: relative;
  z-index: 9;
  text-align: center;
  align-self: center;
}

.topnav a.active {
  background-color: #09143C;
}

.topnav a:hover {
  background-color: #09143C;
}